@import 'whitespace_reset.css';

body {
  background: url('../bg_body.gif');
}

header {
  background: no-repeat center transparent url('../logo.png');
  padding-top: 35rem;
  margin-left: .1rem;
}

main {
  width: 1000px;
  height: 711px;
  background-color: white;
  margin: -4rem auto;
  padding-top: 100px;
  justify-content: center;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  color: #45494d;
}

footer {
  background-color: #e7e7e7;
  width: 1000px;
  height: 118px;
  margin: 4rem auto 146.5px;
}

p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 1.8rem;
  font-size: 1.25rem;
  margin: 1rem 5.5rem;
}

main p:first-of-type {
  margin-bottom: 10rem;
}

h2 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 1rem;
}

h2 a {
  text-decoration: none;
  color: #3e98b2;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 2.2rem 19rem;
}

span.left-bullet {
  padding-right: 1rem;
  font-size: 1.8rem;
  position: relative;
  bottom: .3rem;
}

span.right-bullet {
  padding-left: 1rem;
  font-size: 1.8rem;
  position: relative;
  bottom: .3rem;
}
