body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

input,
select {
  margin: 0.5rem 0.25rem 1rem 0;
}

select,
input:not([type='checkbox']) {
  display: block;
}

div.check-group {
  display: inline-block;
  width: 25%;
}

fieldset {
  width: 50%;
  /* margin-right: 50%; */
  margin: 0 auto;
  border: none;
}

dt {
  border-bottom: .5px solid black;
  padding-bottom: .3rem;
}

dd {
  margin-left: 0;
  padding-top: 0.5rem;
}

input[type='submit'],
input[type='reset'] {
  margin: 1rem auto;
  display: inline-block;
}

textarea {
  resize: vertical;
}
